*{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
body {
	line-height: 1;
}
ol, ul, li {
    display: inline-block
	list-style: none;
}
a:visited,a:hover,a:active{
    color: none;
}