body{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
main{
    flex: 1 0 auto;
}
header{
    color: #b5b5b5;
    font-weight: bold;
}
header img{
    width: 25%;
}
header ul{
    margin-left: 45%;
}
#abrir-franquia{
    margin-top: 70px;
}
#btn-apresentacao{
    background-color: #29a6e6;
    color: #FFF;
}
#abrir-franquia{
    background: url(../img/servidores.jpg) no-repeat;
    background-size: cover;
    color: #FFF;
    font-weight: bold;
    font-size: 2em;
    text-align: center;
    padding: 5% 0;
    font-style: italic;
}
#abrir-franquia p span{
    font-weight: lighter;
}
#quero-investir-1{
    background-color: #228b22;
    color: #FFF;
    font-weight: bold;
    margin-top: 5%;
    text-transform: uppercase;
    font-size: 1.2em;
}
#vantagens{
    color: #000;
    margin: 2% 0;
}
#vantagens img{
    width: 220px;
    height: 220px;
}
#quero-investir-2{
    background-color: #ffa500;
    font-weight: bold;
    color: #FFF;
    text-transform: uppercase;
    font-size: 1.5em;
}
#investimento{
    background: url(../img/fundoInvestidores.jpg) no-repeat;
    background-size: cover;
    text-align: center;
    padding: 3% 0;
}
#investimento h3{
    font-weight: bold;
}
#investimento .card{
    background-color: #29a6e6;
    color: #FFF;
}
.valores{
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1.8em;
}
#quero-investir-3{
    border-radius: 10px;
    background-color: #d35400;
    font-weight: bold;
    color: #FFF;
    text-transform: uppercase;
    font-size: 1.6em;
    margin-top: 5%;
    box-shadow: 0 0 0 0 rgba(211, 84, 0, 0.7);
    -webkit-animation: pulse-animation 1.25s cubic-bezier(0.66, 0, 0, 1) infinite;
    -moz-animation: pulse-animation 1.25s cubic-bezier(0.66, 0, 0, 1) infinite;
    -ms-animation: pulse-animation 1.25s cubic-bezier(0.66, 0, 0, 1) infinite;
    animation: pulse-animation 1.25s cubic-bezier(0.66, 0, 0, 1) infinite;
}
a:hover{
    -webkit-animation: none;
    -moz-animation: none;
    -ms-animation: none;
    animation: none;
}
#formulario{
    text-transform: uppercase;
    background-color: #29a6e6;
    color: #FFF;
    font-weight: bold;
    padding: 2% 0;
}
.titulo{
    text-align: center;
    font-weight: bold;
}
#btn-enviar{
    border-radius: 10px;
    background-color: #1c86ee;
    color: #FFF;
    font-size: 1.8em;
    font-weight: bold;
    text-transform: uppercase;
    margin-left: 43%;
}
footer{
    background-color: #FFF;
    color: #000;
    text-align: center;
}
@media screen and (max-width: 600px){
    #abrir-franquia{
        margin-top: 50px;
    }
    .navbar-brand{
        width: 75%;
    }
    #btn-enviar{
        margin-left: 30%;
    }
    #investimento .card{
        margin-bottom: 5%;
    }
    #vantagens .row{
        margin-left: 18%;
    }
}